/* Reset css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
.text-white{
    color: #fff!important;
}
/* #wrapper{
    
} */

#header{
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    width: 100%;
}
#header .search-icon{
    font-size: 20px;
    padding: 0 21px;
    color: #fff;
    line-height: 46px;
}
#header .search-btn{
    float: right;
    cursor: pointer;
}
#header .search-btn:hover{
    background-color: #f44336;
}
#nav, .subnav{
    list-style-type: none;
}
#nav {
    display: inline-block;
}
#nav > li {
    display: inline-block;
}
#nav li {
    position: relative;
}
#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}
#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;

}
#nav .subnav {
    display: none;
    position: absolute;
    min-width: 160px;
    top: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#nav .subnav a {
    color: black;
    display: block;
    padding: 8px 16px;
    line-height: 22px;
}
#nav .nav-arrow-down{
    font-size: 10px;
}
#nav li:hover .subnav {
    display: block;
}
#nav > li:hover> a,
#nav .subnav li:hover a{
    color: #000;
    background-color: #ccc;
}
#slider{
    margin-top: 46px;
    padding-top: 50%;
    background: url('https://scontent.fhan4-3.fna.fbcdn.net/v/t39.30808-6/310739923_106041112293511_8758591753099709166_n.png?_nc_cat=103&ccb=1-7&_nc_sid=e3f864&_nc_ohc=nzRpkYD47m4AX83TmFr&_nc_ht=scontent.fhan4-3.fna&oh=00_AT9IB5I7GMxvOp_RWwSVF5mte3a8CP74wk0jKMsTyrgF2A&oe=63521EBB') top center / cover no-repeat;
    background-size:cover;
    position:relative;
    z-index: -1;
}
#slider .text-content{
    position: absolute;
    bottom: 200px;
    color:beige;
    left: 50%;
    font-weight: bold;
    font-style: italic;
    transform: translateX(-50%);
    text-align: center;
}
#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 25px;
}
#slider .text-discription{
    font-size: 15px;
}
#content .content-section{
    width: 800px;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
}
#content .section-heading{
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
    text-align: center;
}
#content .sub-heading{
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}
#content .about{
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.6;
}
#content .member-list{
    overflow: hidden    ;
}
#content .member-items{
    float: left;
    margin-top: 48px;
    text-align: center;
    width: 33.333333%;
}
#content .member-name{
    font-style: italic;
    /* font-size: ; */
    color: black;
}
#content .member-img{
    width: 200px;
    border-radius: 4px;
    margin-top: 15px;
}
.tour-section{
    background-color: #000;
}
.tickets-list{
    background-color: white;
    margin-top: 39px;
}
.tickets-list li {
    padding: 11px 16px;
    font-size: 15px;
    border-bottom: 1px solid #ddd;
    color: #757575;
    list-style-type: none;
}
.tickets-list .sold-out{
    background-color: orangered;
    color : #fff;
    padding : 5px 5px;
}
.tickets-list .quantity{
    float: right;
    /* margin-right: 24px; */
    color: white;
    width: 24px;
    height: 24px;
    background-color: #000;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    transform: translateY(-10%);
}
/* #footer{
    
} */
.tickets-list li p{
    float: left;
    letter-spacing: 1px;
}
.tickets-list .time{
    color: orangered;
    margin: 0px 5px;
    font-weight: bold;
}
